<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorem aliquam a, itaque dolores natus, voluptatum maiores iure commodi sequi veniam? Delectus a culpa, aliquam qui reprehenderit ducimus vel illum tempore tempora obcaecati eos quis odio dolorum officiis velit, consequatur sint aut ab ut ipsum quo corrupti eveniet rerum repudiandae! Explicabo alias nobis consectetur, tenetur eaque odit! Enim neque sit repellat odit non, vel vero qui culpa harum doloremque hic accusantium recusandae voluptatem, velit pariatur illo exercitationem aut nesciunt dignissimos quis cumque quidem earum facere. Ab explicabo voluptatem officia cumque ducimus optio nesciunt blanditiis in! Aliquid repellat libero ad maiores?</p>
</body>
<script>
    document.addEventListener('keydown',(event)=>{
        console.log(`keydown`,event);
        if((event.ctrlKey || event.metaKey) && event.key === 'z'){
            console.log("YES")
        }
    })
</script>
</html>