<head>
    <title>MangaHub | Home page</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div id="slidingMenu">
        <%- include('./partials/slidingMenu') %>
    </div>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
<style>
    .main{
        background-color: blueviolet;
    }
</style>