<head>
    <title>MangaHub | Home page</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div id="slidingMenu">
        <%- include('./partials/slidingMenu') %>
    </div>

    
    <main>
       <%- include('./partials/content') %>
    </main>


    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
