<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new manga</h1>
    <form action="newManga" enctype="multipart/form-data" method="post">
        <input type="text" placeholder="Name of the manga" name="MangaName" required>
        <input type="text" name="Author" placeholder="Author name" required>
        <input type="text" name="Genre" placeholder="Genre of the manga" >
        <textarea name="Desc" id="" cols="30" rows="10" placeholder="Describe your manga in a few words."></textarea>
        <input type="file" name="images" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>